<%= form_for(@line_item, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @line_item.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h4>

      <ul>
      <% @line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :product, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :product, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cart, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :cart, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit :class => "btn btn-purple" %>
    </div>
  </div>
<% end %>
